{{#jsonPlaceholderApp}}
<div class="jsonPlaceholderApp">
    <header>
        <nav>
            <div class="nav-wrapper blue darken-1">
                <a href="javascript:void();" class="brand-logo">
                    <i class="material-icons">dvr</i>{{title}}
                </a>
            </div>
        </nav>
    </header>

    <main>
        <br/>
        <div class="row">
            <div class="col s12">
                <h5>{{postListTitle}}</h5>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <button id="reloadPostListBtn" class="btn waves-effect waves-light blue" type="button">
                    <i class="material-icons left">refresh</i>{{reloadPostList}}
                </button>
                <button id="addNewTask" class="btn waves-effect waves-light blue" type="button">
                    <i class="material-icons left">add</i>{{addNewPost}}
                </button>
                <button id="clearTaskList" class="btn waves-effect waves-light blue" type="button">
                    <i class="material-icons left">clear_all</i>{{clearPostList}}
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <table class="striped highlight">
                    <thead>
                        <tr>
                            <th class="actions">&nbsp;</th>
                            <th class="numbers">#</th>
                            <th class="title">Title</th>
                        </tr>
                    </thead>

                    <tbody id="taskList">
                        <tr class="empty">
                            <td colspan="3">There are no posts to display.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer class="page-footer blue">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                </div>
                <div class="col l4 offset-l2 s12">
                </div>
            </div>
        </div>
        <div class="footer-copyright blue darken-1">
            <div class="container">
                André Rosa 2018
                <a class="grey-text text-lighten-4 right" href="https://github.com/andreros" target="_blank">andreros@github</a>
            </div>
        </div>
    </footer>
</div>
{{/jsonPlaceholderApp}}